<style>
    a {
        text-decoration: none !important;
    }

    .glyphicon {
        margin-right: 10px;
    }

    .panel-body {
        padding: 0px;
    }

        .panel-body table tr td {
            padding-left: 15px;
        }

        .panel-body .table {
            margin-bottom: 0px;
        }
</style>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>&nbsp;Product Management
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Books</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-flash text-success"></span><a href="#">Categories</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
